@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&display=swap');

/* styles.css */

#home {
	display: flex;
}

#botoneraCard {
	width: 100%;
	margin-bottom: 8px;
}

#contenedorElement {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-between;
	align-items: flex-start;
}

.ElementCard {
	width: 200px;
	height: 150px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

#favorito {
	display: flex;
	justify-content: flex-end;
}

/*===============================MEDIA QUERYS============================================*/
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
